<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.azis.skripsiproject">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".Admin.Peminjaman.PilihBarangActivity"
            android:theme="@style/Custom"></activity>
        <activity android:name=".Admin.Laporan.AdmLaporanSelesai" />
        <activity
            android:name=".Admin.Perbaikan.AdmDetailPerbaikan"
            android:theme="@style/Custom" />
        <activity
            android:name=".Admin.Perbaikan.AdmDataPerbaikanActivity"
            android:theme="@style/Custom" />
        <activity
            android:name=".Admin.Peminjaman.AdmTambahPeminjaman"
            android:theme="@style/Custom" />
        <activity
            android:name=".Admin.Peminjaman.AdmDetailPeminjaman"
            android:theme="@style/Custom" />
        <activity
            android:name=".Admin.Peminjaman.AdmPeminjamanActivity"
            android:theme="@style/Custom" />
        <activity
            android:name=".Admin.Dashboard.Barang.AdmDataBarangActivity"
            android:theme="@style/Custom" />
        <activity
            android:name=".User.Dashboard.Pengajuan.PilihPenggunaActivity"
            android:theme="@style/Custom" />
        <activity
            android:name=".Admin.Profile.AdmAkunActivity"
            android:theme="@style/Custom" />
        <activity
            android:name=".Admin.Laporan.AdmLaporanActivity"
            android:theme="@style/Custom" />
        <activity
            android:name=".Admin.Dashboard.AdmDashboardActivity"
            android:theme="@style/Custom" />
        <activity
            android:name=".Admin.Profile.AdmTambahAdminActivity"
            android:theme="@style/Custom" />
        <activity android:name=".User.Dashboard.Pengajuan.PengajuanBmnActivity" />
        <activity
            android:name=".User.Proses.DetailsPengajuan.ProsesStatusDetail"
            android:theme="@style/Custom" />
        <activity android:name=".SplashActivity" />
        <activity
            android:name=".User.Proses.ProsesStatusActivity"
            android:theme="@style/Custom" />
        <activity
            android:name=".User.Laporan.LaporanActivity"
            android:theme="@style/Custom" />
        <activity
            android:name=".User.Dashboard.User.ProfileActivity"
            android:theme="@style/Custom" />
        <activity android:name=".User.Dashboard.Pengajuan.PengajuanFamumActivity" />
        <activity
            android:name=".User.Dashboard.DashboardActivity"
            android:theme="@style/Custom" />
        <activity
            android:name=".Login.LoginActivity"
            android:theme="@style/Custom">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>