<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.azis.skripsiproject">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Admin.Akun.AdmAkunActivity"></activity>
        <activity android:name=".Admin.Laporan.AdmLaporanActivity" />
        <activity android:name=".Admin.Dashboard.AdmDashboardActivity" />
        <activity android:name=".Admin.Akun.AdmTambahAdminActivity" />
        <activity android:name=".User.Status.DetailsPengajuan.DetailStatusActivity" />
        <activity android:name=".SplashActivity" />
        <activity android:name=".User.Status.StatusActivity"
            android:theme="@style/Custom"/>
        <activity android:name=".User.Laporan.LaporanActivity"
            android:theme="@style/Custom"/>
        <activity android:name=".User.Dashboard.User.ProfileActivity"
            android:theme="@style/Custom"/>
        <activity android:name=".User.Dashboard.Pengajuan.BuatPengajuanActivity" />
        <activity android:name=".User.Dashboard.DashboardActivity"/>
        <activity android:name=".Login.LoginActivity"
            android:theme="@style/Custom">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>